.container {
  background: #026aa7;
  color: white;
  padding: 5px 5px;
  font-size: 20px;
  height: 30px; }
  .container .inner div {
    display: inline-block; }
  .container .inner .logo {
    float: left;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background: #0083D0; }
  .container .inner .title {
    padding: 0 10px; }
