.container {
  background: rgb(2, 106, 167);
  color: white;
  padding: 5px 5px;
  font-size: 20px;
  height: 30px;
  .inner {
    div {
      display: inline-block;
    }

    .logo {
      float: left;
      height: 30px;
      width: 30px;
      border-radius: 5px;
      background: #0083D0;
    }

    .title {
      padding: 0 10px;
    }
  }
}
